.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #92a2e8;
}
.home-header {
  width: 100%;
  display: flex;
  z-index: 3;
  position: fixed;
  background: white;
  min-height: 4em;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.home-image {
  height: 3.2rem;
  align-self: center;
  object-fit: cover;
}
.home-nav {
  display: flex;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-burger-menu {
  display: none;
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image1 {
  height: 3.2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  margin-top: 4rem;
  min-height: 50vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(348deg,hsla(104.87,77.78%,30%,.5) 0%,hsla(110.13,58.06%,33.72%,.5) 5.8%,hsla(114.91,44.34%,36.88%,.5) 11.3%,hsla(120.29,33.74%,39.74%,.5) 16.5%,hsla(126.53,28.54%,41.28%,.5) 21.7%,hsla(133.86,23.65%,42.82%,.5) 26.8%,hsla(143.14,19.15%,44.34%,.5) 32%,hsla(155.8,15.06%,45.81%,.5) 37.4%,hsla(174.56,11.36%,47.22%,.5) 43.1%,hsla(197.96,11.18%,50.22%,.5) 49.2%,hsla(215.56,13.31%,53.47%,.5) 55.9%,hsla(228.98,15.53%,56.48%,.5) 63.1%,hsla(239.48,17.81%,59.21%,.5) 71%,hsla(246.89,22.15%,60.67%,.5) 79.7%,hsla(251.59,26.35%,61.9%,.5) 89.3%,hsla(254.74,30.16%,62.94%,.5) 100%),url("/playground_assets/weird_state.png");
}
.home-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
.home-text3 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-button {
  font-size: 0.75rem;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-button:hover {
  transform: scale(1.02);
}
.home-text7:hover {
  transform: scale(1.02);
}
.home-iframe {
  width: 32rem;
  height: 25rem;
  max-width: auto;
}
@media(max-width: 1600px) {
  .home-hero {
    height: 18rem;
    min-height: 50vh;
    background-image: url("/playground_assets/weird_state.png");
  }
  .home-text {
    color: var(--dl-color-gray-white);
    font-size: 3rem;
  }
  .home-text3 {
    color: var(--dl-color-gray-white);
  }
  .home-button {
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  .home-iframe {
    width: 32rem;
    height: 25rem;
    max-height: 100%;
    margin-left: 0px;
  }
}
@media(max-width: 1200px) {
  .home-iframe {
    width: 32rem;
    height: 25rem;
    max-width: auto;
    padding-top: 0px;
    padding-right: 0px;
  }
}
@media(max-width: 991px) {
  .home-icon06 {
    display: flex;
  }
  .home-hero {
    flex-direction: column;
  }
  .home-text {
    text-align: center;
  }
  .home-text1 {
    text-align: center;
  }
  .home-text3 {
    text-align: center;
  }
  .home-iframe {
    width: 32rem;
    height: 25rem;
    max-width: auto;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-iframe {
    width: 28rem;
    height: 25rem;
    max-width: auto;
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-icon-group {
    display: none;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-iframe {
    width: 100%;
    height: 25rem;
    max-width: auto;
    align-self: stretch;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
}
